In [311]:
import pandas as pd
import numpy as np
from IPython.display import Markdown, display

### Read in CSV scrape

In [5]:
# read in each sheet to a dataframe
sheet = pd.read_csv('data/20180824-zalora_dress.csv', encoding='latin1')

In [6]:
sheet.head()

,Product Name,Actual Price (Rp),Discounted Price (Rp),Image URL,Product URL,Retailer Name
0,ONLY ONE Gia Hood Pullover,"599,000","119,000",https://dynamic.zacdn.com/kvIKJmcNprOxN6ILOi-4...,https://www.zalora.co.id/only-only-one-gia-hoo...,ZALORA
1,ONLY ONE Gia Hood Pullover,"599,000","119,000",https://dynamic.zacdn.com/I3s48GOFhHXL13chKzro...,https://www.zalora.co.id/only-only-one-gia-hoo...,ZALORA
2,Flare Sleeves Lace Blouse,"699,000","139,000",https://dynamic.zacdn.com/qYBQ4cISjuISGPh72GI5...,https://www.zalora.co.id/bysi-flare-sleeves-la...,ZALORA
3,Botanic Flare Sleeve Blouse,"849,000","169,000",https://dynamic.zacdn.com/-pN3SKyGEo_OAgmvcRYQ...,https://www.zalora.co.id/bysi-botanic-flare-sl...,ZALORA
4,Ansel Pants,"705,000","141,000",https://dynamic.zacdn.com/ZIGd-Xpp3JNJ2YfC5XAE...,https://www.zalora.co.id/barli-asmara-ansel-pa...,ZALORA

### Add tag

In [315]:
tags = set(pd.read_csv('data/meta/tags.csv',header=None, names=['tag'])['tag'].str.lower())  # make lower case

In [169]:
def label(x, tags):
    """
    Labeling function. Takes in a string and searches for a match against a set of
    pre-defined tag words.
    inputs:
        x <str>: string of words
        tags <set>: unordered set of words
        
    outputs:
        word <str>: the matching word. If no match, returns NaN
    """
    x = x.replace('-', ' ')  # text processing for split operation
    description = x.split()
    for word in description:
        if word.lower() in tags:
            return word.lower()
    else:
        return np.nan

### get the tag -> mvp tag mapping from a json file

In [4]:
new_mvp = {}
for k in mvp.keys():
    new_mvp[k.lower()] = mvp[k]

{'backpack': 'backpack',
 'bag': 'bag',
 'batik': 'Batik',
 'bikini': 'swim-suit',
 'blazer': 'tops',
 'blouse': 'tops',
 'bodysuit': 'tops',
 'bomber': 'tops',
 'boots': 'shoes',
 'brallet': 'underwear',
 'cardholder': 'bag',
 'cardigan': 'tops',
 'case': 'bag',
 'clutch': 'bag',
 'coat': 'tops',
 'cullote': 'pants',
 'cullotte': 'pants',
 'cullottes': 'pants',
 'culotes': 'pants',
 'culottes': 'pants',
 'dress': 'dress',
 'dresse': 'dress',
 'flats': 'shoes',
 'gillet': 'tops',
 'handbag': 'bag',
 'heel': 'shoes',
 'heels': 'shoes',
 'hijab': 'hijab',
 'jacket': 'tops',
 'jeans': 'pants',
 'jumpsuit': 'pants',
 'kaftan': 'dress',
 'kimono': 'batik',
 'knitwear': 'tops',
 'legging': 'pants',
 'leggings': 'pants',
 'loafers': 'shoes',
 'moccasin': 'shoes',
 'mule': 'shoes',
 'mules': 'shoes',
 'outer': 'tops',
 'outerwear': 'tops',
 'pajamas': 'underwear',
 'pant': 'pants',
 'pants': 'pants',
 'panty': 'pants',
 'playsuit': 'tops',
 'pouch': 'bag',
 'pullover': 'tops',
 'purse': 'bag',
 'sandal': 'shoes',
 'sandals': 'shoes',
 'satchel': 'bag',
 'shirt': 'tops',
 'shoes': 'shoes',
 'shopper': 'bag',
 'shorts': 'shorts',
 'skirt': 'skirt',
 'skort': 'skirt',
 'sleepdress': 'underwear',
 'sleepwear': 'underwear',
 'slip ons': 'shoes',
 'slipon': 'shoes',
 'slippers': 'shoes',
 'sneaker': 'shoes',
 'sneakers': 'shoes',
 'stilettos': 'shoes',
 'suit': 'tops',
 'sweater': 'tops',
 'sweatshirt': 'tops',
 'tank': 'tops',
 'tee': 'tops',
 'tennis': 'shoes',
 'top': 'tops',
 'tote': 'bag',
 'trouser': 'pants',
 'trousers': 'pants',
 'tunic': 'tops',
 'vest': 'tops',
 'wallet': 'wallet',
 'wedges': 'shoes',
 'wristlet': 'bag'}

In [7]:
with open('data/meta/mvp.json', 'w') as fp:
    json.dump(new_mvp, fp)

In [172]:
sheet['tag'] = sheet.apply(lambda x: label(x['Product Name'], tags), axis=1)
sheet['mvp'] = sheet.apply(lambda x: mvp.get(x['tag'], np.nan), axis=1)

In [173]:
sheet.head()

,Product Name,Actual Price (Rp),Discounted Price (Rp),Image URL,Product URL,Retailer Name,tag,mvp
0,ONLY ONE Gia Hood Pullover,"599,000","119,000",https://dynamic.zacdn.com/kvIKJmcNprOxN6ILOi-4...,https://www.zalora.co.id/only-only-one-gia-hoo...,ZALORA,pullover,NaN
1,ONLY ONE Gia Hood Pullover,"599,000","119,000",https://dynamic.zacdn.com/I3s48GOFhHXL13chKzro...,https://www.zalora.co.id/only-only-one-gia-hoo...,ZALORA,pullover,NaN
2,Flare Sleeves Lace Blouse,"699,000","139,000",https://dynamic.zacdn.com/qYBQ4cISjuISGPh72GI5...,https://www.zalora.co.id/bysi-flare-sleeves-la...,ZALORA,blouse,NaN
3,Botanic Flare Sleeve Blouse,"849,000","169,000",https://dynamic.zacdn.com/-pN3SKyGEo_OAgmvcRYQ...,https://www.zalora.co.id/bysi-botanic-flare-sl...,ZALORA,blouse,NaN
4,Ansel Pants,"705,000","141,000",https://dynamic.zacdn.com/ZIGd-Xpp3JNJ2YfC5XAE...,https://www.zalora.co.id/barli-asmara-ansel-pa...,ZALORA,pants,NaN

### Compare with Leo's tags

In [333]:
df = pd.DataFrame({'Filename': 'test.csv', 'TotalRows': 0, 'Labeled': 0, 'Missed':0}, index=[0])
df.write_csv('data/3_monitor/')

   Filename  Labeled  Missed  TotalRows
0  test.csv        0       0          0

In [273]:
checker = pd.read_csv('data/P1/20180824-zalora_dress.csv', encoding='latin1')

In [330]:
import os
print(os.path.splitext('data/P1/20180824-zalora_dress.csv'))

('data/P1/20180824-zalora_dress', '.csv')

In [274]:
# where tag is string, convert to lower case. If it's empty, keep as a NaN value
checker['tag'] = checker['tag'].apply(lambda x: np.nan if isinstance(x, float) else x.lower()) # make lowercase for consistency

In [312]:
# Columns we're interested in comparing
columns = ['Image URL', 'Product Name', 'tag']

# Merge Leo's sheet with the Pandas processed sheet
compare = checker[columns].merge(sheet[columns], on=['Image URL', 'Product Name'], how='inner', suffixes=['_Leo', '_Panda'])

# Keep rows where tags do not match
compare = compare.loc[(compare.tag_Leo != compare.tag_Panda)]

# Do Not(~) Keep rows where both columns are NaN values (some reason these don't drop out from above function)
compare = compare.loc[~(compare.tag_Leo.apply(pd.isnull) & compare.tag_Panda.apply(pd.isnull))]

display(Markdown('Discrpancies between Leo and Processing Routine'))
compare.drop_duplicates(subset=['tag_Leo', 'tag_Panda'])

Discrpancies between Leo and Processing Routine

,Image URL,Product Name,tag_Leo,tag_Panda
28,https://dynamic.zacdn.com/ym9sIzYwuhnZo28PaJNT...,Lace Panel Playsuit,suit,playsuit
31,https://dynamic.zacdn.com/QW2Sx_u5K_9NX7JSUOo6...,ONLY ONE Line Sweatshirt,shirt,sweatshirt
58,https://dynamic.zacdn.com/I1LAlfZMr8tmB4UaDkRk...,Sleepdress Batwing Saten-Purple,dress,sleepdress
74,https://dynamic.zacdn.com/DbMXjB6n0sf6kOq3KXiK...,Chiffon Tank Top With Overlay Front,top,tank
179,https://dynamic.zacdn.com/wcOQOpjXbz4vfImOWCR8...,Tulip Grace Kelly Panty - Grey,pant,panty
202,https://dynamic.zacdn.com/-FnXtSRQeEQ1nsSbH0vQ...,SJO's Khateris Pink Stripe Women's Sweatshirts,shirt,NaN
237,https://dynamic.zacdn.com/TpxvxHAxO6flvrP9MhWS...,2Nd RED Shorts Jeans Fashion Ripped Denim Navy...,jeans,shorts
240,https://dynamic.zacdn.com/3CgAyWrZUoqK4AfGdWyA...,2Nd RED Denim Shorts Medium Short Pants Fungky...,pants,shorts
245,https://dynamic.zacdn.com/uSpT2wTQgiwamymcIWe6...,Isla Batik Shorts,shorts,batik
280,https://dynamic.zacdn.com/5KDD2fe8LjX14GlkPyjG...,Mid Length Cullotes,cullote,NaN
312,https://dynamic.zacdn.com/ayGQqGd1j3CkpVmHtrNG...,Legging Pants,pants,legging
331,https://dynamic.zacdn.com/YZMBGPWt8_73aX2ORJni...,Danielle Pettycoat 40013,coat,NaN
365,https://dynamic.zacdn.com/OQFdb3EVfl91vhItK4FJ...,Kimono Top,top,kimono
456,https://dynamic.zacdn.com/lUm8-TKIAES9ko06fUwO...,2-in-1 Pack Inner Tops,top,NaN
464,https://dynamic.zacdn.com/XcdKO3Fry3NbW4K5WejH...,A&D MS 517 Classic collote Pant's,pant,NaN
472,https://dynamic.zacdn.com/7R2jlzEMheobkSlvF_eX...,Hotpants Jeans,pants,jeans
505,https://dynamic.zacdn.com/2Lnm_88AevhiPjIbVQwy...,Marissa Minidress Chino,dress,NaN
555,https://dynamic.zacdn.com/PCqBrCZ5W9ZuiVfJKyCD...,BlueBell2 Short Pant Jeans -aqua,jeans,pant
578,https://dynamic.zacdn.com/P2MJ_j0rWgGAcQHj-ZRK...,Marin Blouses,blouse,NaN
603,https://dynamic.zacdn.com/YCvFzewn4BuH8z6PFTh_...,A&D MS 786 Cardigan Batik Long Sleeve - Brown,batik,cardigan
618,https://dynamic.zacdn.com/0dGf4Oo2iDB493reOlOE...,Kimono Sleeves Shift Dress,dress,kimono
665,https://dynamic.zacdn.com/dQjeFsXmVciHGYTHd8Pk...,Jening Batik Alesandria Navy Outer,outer,batik
666,https://dynamic.zacdn.com/LT2KwYTYVEODCTxKwdmh...,Chiffon Pleated Dress With Cami Top Set,top,dress
681,https://dynamic.zacdn.com/kc1vGiNoMYjYRYsXlgRg...,AKO JEANS Shirt Mona Flower,shirt,jeans
704,https://dynamic.zacdn.com/evU-lyRT-mQy2rVkaryw...,Lace Bomber Jacket,jacket,bomber
729,https://dynamic.zacdn.com/tUdo1FCznp4YZcU2dpeD...,Trumpet Sleeved Batik Top,top,batik
744,https://dynamic.zacdn.com/JK9UVPyvOVYhh63Gvgfp...,Blouse Batik Bunga Lantana,batik,blouse
828,https://dynamic.zacdn.com/sixEqM5QxUR8wE5Z5FZQ...,Shortsleeve Stripe Blouse,shorts,blouse
848,https://dynamic.zacdn.com/Q0GTvQsNQsjCN3z7zCLu...,Gossamer Tunic Shirt,shirt,tunic
866,https://dynamic.zacdn.com/a1Ww87g4zVIL6brm6q-H...,Siona Maxi Dress With Jacket,jacket,dress
...,...,...,...,...
18309,https://dynamic.zacdn.com/QR17K-NCqa-07nzXX_CI...,Pyjamas Stripe Sleepwear Pants,pants,sleepwear
18322,https://dynamic.zacdn.com/6PtG1w3GRQajjd2dNDZK...,Madeleine`s Blazered Jumpsuit Navy,blazer,jumpsuit
18748,https://dynamic.zacdn.com/Qn38jC6EyaMHI71r7a7l...,Ruffled Cami Dress with Tee,tee,dress
20532,https://dynamic.zacdn.com/IC_9cQK7nB8ELc6lUo9W...,Brocade Paperbag Sleeves Kurung,bag,NaN
21118,https://dynamic.zacdn.com/xbBZyIheJaTJ4syc4JVg...,2 in 1 Suspender Skirt with Graphic Tee,tee,skirt
22373,https://dynamic.zacdn.com/qV8wlRgZJGc5CjYQgBDf...,caselle set blouse pants grey,pants,blouse
22453,https://dynamic.zacdn.com/ZxVYLC6rBUsJThAaNjv6...,Cape Top Steel,tee,top
22953,https://dynamic.zacdn.com/l4ejKlJt0Ufk00DUb1AF...,Polka-Dot Culottes Trousers,trouser,culottes
22991,https://dynamic.zacdn.com/U1v5fKYQuu4nyEbCpaNU...,LAYERED SKIRT SHORTS,shorts,skirt
23045,https://dynamic.zacdn.com/nLvJ8eQOnYiTcvmnwcqO...,Cullote Pant in Black Bliss,pant,cullote
24317,https://dynamic.zacdn.com/brrQQbc5t5M19tsAkON7...,Pant Rumors Y/D Harem Pants,pants,pant
25441,https://dynamic.zacdn.com/gucGtw9k-geJ_ZD8gpxb...,Bomber Outer Grey,outer,bomber
25886,https://dynamic.zacdn.com/9gcyN8kq_0MFcOzQEX26...,Dirty Teenager Sweater,tee,sweater
26012,https://dynamic.zacdn.com/o2nbVkSIRnQTL8UrYUH3...,11041 STRIPE SLEEVELESS LONGVEST,vest,NaN
26200,https://dynamic.zacdn.com/R8d7OiIyNjcC-Vqew1Ia...,GbG HARM Grey Fullprint Pullover Sweater,sweater,pullover
26430,https://dynamic.zacdn.com/yR6QFqBXU177KyaMIir5...,Spring Satin Sleepwear Batwing Dress Nightwear...,dress,sleepwear
26498,https://dynamic.zacdn.com/Fn0DBxUHRlNrKz8rlkX6...,Short Sleeve Short Pants Pocket Top,top,pants
26663,https://dynamic.zacdn.com/8rGo6WSM2-AFySkuRQB6...,Theana Print Bikini Top Swimwear,top,bikini
26785,https://dynamic.zacdn.com/x6BOZgGXckRlIW6ZsO_S...,Seamless Panty - Comfy Soft Modal Lace Trim Sh...,shorts,panty
27248,https://dynamic.zacdn.com/5gJ7lyoxJtx6pN1sl3o_...,Kaftan Jumpsuit,jumpsuit,kaftan
27382,https://dynamic.zacdn.com/DGrFFApHl7GTncFfUym-...,BATIK TRUSMI JUMPSUIT LIRIS HTM,jumpsuit,batik
27624,https://dynamic.zacdn.com/wZmBgyM6u9qaiiupS2Pf...,Paper Bag Playsuit,suit,bag
27920,https://dynamic.zacdn.com/pjI5fky2-Lz0H_Waloj7...,MOOIMOM White Navy Stripes Long Sleeves With L...,shirt,outer
28271,https://dynamic.zacdn.com/ECE394AxUbo13G30ckC-...,Boontie Hijabwear Black Gamis,hijab,NaN
28727,https://dynamic.zacdn.com/pef2Dod3bY7jvh_6GiBs...,Ellysa Zenia Casual Blouse Outer Set Fuchsia,outer,blouse
30440,https://dynamic.zacdn.com/yvs9WUf7uvfF4Jwcfn-o...,A Nightshirt Motive Goose Arms Short Pants 3/4...,shirt,pants
30526,https://dynamic.zacdn.com/FDR7bEKMf7HIV3fWXkK7...,Double Layer Blouse With Cardigan,cardigan,blouse
30862,https://dynamic.zacdn.com/tcEittmGy-MbyITxnBUh...,URVEE Relax Cardigan Dress,dress,cardigan
31024,https://dynamic.zacdn.com/ifUAoTG34Fe8BnYUdhS_...,Jeans Top Code D0027,top,jeans
31083,https://dynamic.zacdn.com/wPGceC2jC-2OW_eAgrIa...,Peggy Pajamas Dress Purple,dress,pajamas

In [106]:
sheet[checker.tag != sheet.tag].head()

,Product Name,Actual Price (Rp),Discounted Price (Rp),Image URL,Product URL,Retailer Name,tag,mvp
28,Lace Panel Playsuit,"689,000","159,000",https://dynamic.zacdn.com/ym9sIzYwuhnZo28PaJNT...,https://www.zalora.co.id/glamorous-lace-panel-...,ZALORA,Playsuit,tops
31,ONLY ONE Line Sweatshirt,"539,000","129,000",https://dynamic.zacdn.com/QW2Sx_u5K_9NX7JSUOo6...,https://www.zalora.co.id/only-only-one-line-sw...,ZALORA,Sweatshirt,tops
32,ONLY ONE Line Sweatshirt,"539,000","129,000",https://dynamic.zacdn.com/Fo1G82OeQovnj0qNWRvE...,https://www.zalora.co.id/only-only-one-line-sw...,ZALORA,Sweatshirt,tops
33,Wrap Playsuit,"619,000","149,000",https://dynamic.zacdn.com/jJo5As3NGrZpsrV9Z9EP...,https://www.zalora.co.id/glamorous-wrap-playsu...,ZALORA,Playsuit,tops
58,Sleepdress Batwing Saten-Purple,"399,000","100,000",https://dynamic.zacdn.com/I1LAlfZMr8tmB4UaDkRk...,https://www.zalora.co.id/cynthia-sleepdress-ba...,Cynthia,Sleepdress,underwear